<% const pages = [
 {href : '/', title : 'Main'}, 
 {href : '/about', title :'About'}, 
 {href : '/news', title : 'News'}, 
 {href : '/register', title :'Registration'}, 
 {href : '/auth', title : 'Authorization'}
] %>
<div class="conainer">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% pages.forEach(page => {%>
        <li class="nav-item active">
          <a class="nav-link" href="<%= page.href %>"><%= page.title %></a>
        </li>
        <%})%>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
